{% load i18n %}
<form class="form form--collab"
      method="post"
      action="{% url 'leads:partnership' %}"
      data-qa="lead-form"
      hx-post="{% url 'leads:partnership' %}"
      hx-swap="outerHTML">
  {% csrf_token %}
  <h2 class="collab-apply__form-title">{% if page and page.form_title %}{{ page.form_title }}{% else %}{% trans "Форма заявки" %}{% endif %}</h2>
  {{ form.non_field_errors }}

  <label class="form__field">
    <span class="form__label">{{ form.name.label }}<abbr title="{% trans 'обов’язкове поле' %}">*</abbr></span>
    {{ form.name }}
    {{ form.name.errors }}
  </label>

  <label class="form__field">
    <span class="form__label">{{ form.phone.label }}<abbr title="{% trans 'обов’язкове поле' %}">*</abbr></span>
    {{ form.phone }}
    {{ form.phone.errors }}
  </label>

  <label class="form__field">
    <span class="form__label">{{ form.email.label }}<abbr title="{% trans 'обов’язкове поле' %}">*</abbr></span>
    {{ form.email }}
    {{ form.email.errors }}
  </label>

  <label class="form__field">
    <span class="form__label">{{ form.city.label }}<abbr title="{% trans 'обов’язкове поле' %}">*</abbr></span>
    {{ form.city }}
    {{ form.city.errors }}
  </label>

  <label class="form__field">
    <span class="form__label">{{ form.message.label }}</span>
    {{ form.message }}
    {{ form.message.errors }}
  </label>

  <button class="btn btn--solid" type="submit">{% trans "Надіслати" %}</button>
</form>
